openapi: 3.0.3
info:
  title: API de Sugestões dos Alunos
  version: 1.0.0
  description: API para os alunos submeterem sugestões, os serviços acompanharem o seu tratamento e qualquer pessoa consultar estatísticas de resolução.
servers:
  - url: https://api.estgv.exemplo/v1

paths:
  /sugestoes:
    get:
      operationId: listarSugestoes
      summary: Listar sugestões, com filtros e paginação
      parameters:
        - name: estado
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Estado'
        - name: categoria
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/CodigoCategoria'
        - name: pagina
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
        - name: tamanhoPagina
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
      responses:
        '200':
          description: Página de sugestões que cumprem os filtros
          headers:
            Cache-Control:
              $ref: '#/components/headers/CachePrivadoNoCache'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListaSugestoes'
        '400':
          $ref: '#/components/responses/Erro400'
        default:
          $ref: '#/components/responses/ErroDefault'
    post:
      operationId: criarSugestao
      summary: Submeter uma sugestão
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SugestaoNova'
      responses:
        '201':
          description: Sugestão criada; o cabeçalho Location indica o seu URL
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheNoStore'
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sugestao'
        '400':
          $ref: '#/components/responses/Erro400'
        default:
          $ref: '#/components/responses/ErroDefault'

  /sugestoes/{id}:
    get:
      operationId: obterSugestao
      summary: Obter uma sugestão
      parameters:
        - $ref: '#/components/parameters/IdSugestao'
        - name: If-None-Match
          in: header
          required: false
          description: ETag da cópia que o cliente já tem; se coincidir, a resposta é 304
          schema:
            type: string
      responses:
        '200':
          description: A sugestão pedida
          headers:
            Cache-Control:
              $ref: '#/components/headers/CachePrivadoNoCache'
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sugestao'
              example:
                id: 42
                titulo: Mais tomadas na biblioteca
                descricao: Seria útil haver mais tomadas junto às mesas de estudo da biblioteca.
                categoria: instalacoes
                numeroAluno: '12345678'
                estado: aceite
                dataCriacao: '2026-10-01T09:15:00Z'
                dataAtualizacao: '2026-10-08T14:30:00Z'
                dataResolucao: null
        '304':
          description: A cópia que o cliente tem continua válida
          headers:
            Cache-Control:
              $ref: '#/components/headers/CachePrivadoNoCache'
            ETag:
              $ref: '#/components/headers/ETag'
        '404':
          $ref: '#/components/responses/Erro404'
        default:
          $ref: '#/components/responses/ErroDefault'
    put:
      operationId: substituirSugestao
      summary: Editar uma sugestão ainda submetida
      parameters:
        - $ref: '#/components/parameters/IdSugestao'
        - name: If-Match
          in: header
          required: true
          description: ETag da versão que o cliente leu; se o recurso mudou, a resposta é 412
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SugestaoNova'
      responses:
        '200':
          description: Sugestão substituída
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheNoStore'
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sugestao'
        '400':
          $ref: '#/components/responses/Erro400'
        '404':
          $ref: '#/components/responses/Erro404'
        '409':
          $ref: '#/components/responses/Erro409Edicao'
        '412':
          $ref: '#/components/responses/Erro412'
        default:
          $ref: '#/components/responses/ErroDefault'
    delete:
      operationId: retirarSugestao
      summary: Retirar uma sugestão ainda submetida
      parameters:
        - $ref: '#/components/parameters/IdSugestao'
      responses:
        '204':
          description: Sugestão retirada
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheNoStore'
        '404':
          $ref: '#/components/responses/Erro404'
        '409':
          $ref: '#/components/responses/Erro409Edicao'
        default:
          $ref: '#/components/responses/ErroDefault'

  /sugestoes/{id}/acompanhamentos:
    get:
      operationId: listarAcompanhamentos
      summary: Histórico de acompanhamento, do mais antigo para o mais recente
      parameters:
        - $ref: '#/components/parameters/IdSugestao'
      responses:
        '200':
          description: Acompanhamentos da sugestão, do mais antigo para o mais recente
          headers:
            Cache-Control:
              $ref: '#/components/headers/CachePrivadoNoCache'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Acompanhamento'
        '404':
          $ref: '#/components/responses/Erro404'
        default:
          $ref: '#/components/responses/ErroDefault'
    post:
      operationId: registarAcompanhamento
      summary: Registar uma mudança de estado
      parameters:
        - $ref: '#/components/parameters/IdSugestao'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcompanhamentoNovo'
      responses:
        '201':
          description: Acompanhamento registado e estado da sugestão alterado
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheNoStore'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acompanhamento'
        '400':
          $ref: '#/components/responses/Erro400'
        '404':
          $ref: '#/components/responses/Erro404'
        '409':
          $ref: '#/components/responses/Erro409Transicao'
        default:
          $ref: '#/components/responses/ErroDefault'

  /estatisticas/resolucao:
    get:
      operationId: obterEstatisticasResolucao
      summary: Totais por estado, taxa e tempo médio de resolução
      parameters:
        - name: anoLetivo
          in: query
          required: true
          schema:
            type: string
            pattern: '^[0-9]{4}-[0-9]{4}$'
      responses:
        '200':
          description: Estatísticas de resolução do ano letivo pedido
          headers:
            Cache-Control:
              $ref: '#/components/headers/CachePublicoHora'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstatisticasResolucao'
              example:
                anoLetivo: '2026-2027'
                totalSugestoes: 120
                porEstado:
                  submetida: 20
                  em_analise: 15
                  aceite: 25
                  rejeitada: 20
                  resolvida: 40
                taxaResolucao: 0.33
                tempoMedioResolucaoDias: 12.5
        '400':
          $ref: '#/components/responses/Erro400'
        default:
          $ref: '#/components/responses/ErroDefault'

  /estatisticas/categorias:
    get:
      operationId: obterEstatisticasCategorias
      summary: Os mesmos indicadores, por categoria
      parameters:
        - name: anoLetivo
          in: query
          required: true
          schema:
            type: string
            pattern: '^[0-9]{4}-[0-9]{4}$'
      responses:
        '200':
          description: Estatísticas por categoria do ano letivo pedido
          headers:
            Cache-Control:
              $ref: '#/components/headers/CachePublicoHora'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstatisticasCategorias'
        '400':
          $ref: '#/components/responses/Erro400'
        default:
          $ref: '#/components/responses/ErroDefault'

  /categorias:
    get:
      operationId: listarCategorias
      summary: Listar as categorias e a sua descrição
      responses:
        '200':
          description: As cinco categorias e a sua descrição
          headers:
            Cache-Control:
              $ref: '#/components/headers/CachePublicoDia'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Categoria'
        default:
          $ref: '#/components/responses/ErroDefault'

components:
  parameters:
    IdSugestao:
      name: id
      in: path
      required: true
      description: Identificador da sugestão
      schema:
        type: integer
        minimum: 1

  headers:
    CacheNoStore:
      description: Resposta que não deve ser guardada em cache
      schema:
        type: string
        enum: ['no-store']
    CachePrivadoNoCache:
      description: Só a cache do utilizador pode guardar, e tem de revalidar antes de cada uso
      schema:
        type: string
        enum: ['private, no-cache']
    CachePublicoHora:
      description: Qualquer cache pode guardar durante uma hora
      schema:
        type: string
        enum: ['public, max-age=3600']
    CachePublicoDia:
      description: Qualquer cache pode guardar durante um dia
      schema:
        type: string
        enum: ['public, max-age=86400']
    ETag:
      description: Identificador da versão atual do recurso
      schema:
        type: string
    Location:
      description: URL do recurso criado
      schema:
        type: string

  responses:
    Erro400:
      description: Pedido mal formado ou dados que não cumprem o schema
      headers:
        Cache-Control:
          $ref: '#/components/headers/CacheNoStore'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Erro'
    Erro404:
      description: Não existe sugestão com esse id
      headers:
        Cache-Control:
          $ref: '#/components/headers/CacheNoStore'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Erro'
    Erro409Edicao:
      description: "Regra violada: uma sugestão só pode ser editada ou retirada enquanto o estado for submetida"
      headers:
        Cache-Control:
          $ref: '#/components/headers/CacheNoStore'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Erro'
    Erro409Transicao:
      description: "Regra violada: a transição de estado não é permitida (só submetida para em_analise, em_analise para aceite ou rejeitada, aceite para resolvida) ou a sugestão já está fechada (rejeitada ou resolvida)"
      headers:
        Cache-Control:
          $ref: '#/components/headers/CacheNoStore'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Erro'
    Erro412:
      description: A condição If-Match falhou, porque a sugestão foi alterada desde que o cliente a leu
      headers:
        Cache-Control:
          $ref: '#/components/headers/CacheNoStore'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Erro'
    ErroDefault:
      description: Qualquer outro erro não previsto (por exemplo, 500)
      headers:
        Cache-Control:
          $ref: '#/components/headers/CacheNoStore'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Erro'

  schemas:
    Estado:
      type: string
      enum: [submetida, em_analise, aceite, rejeitada, resolvida]

    CodigoCategoria:
      type: string
      enum: [instalacoes, ensino, servicos, atividades, outra]

    Categoria:
      type: object
      required: [codigo, descricao]
      properties:
        codigo:
          $ref: '#/components/schemas/CodigoCategoria'
        descricao:
          type: string
          minLength: 3
          maxLength: 80

    SugestaoNova:
      type: object
      required: [titulo, descricao, categoria, numeroAluno]
      properties:
        titulo:
          type: string
          minLength: 10
          maxLength: 120
        descricao:
          type: string
          minLength: 20
          maxLength: 2000
        categoria:
          $ref: '#/components/schemas/CodigoCategoria'
        numeroAluno:
          type: string
          pattern: '^[0-9]{5,8}$'

    Sugestao:
      allOf:
        - $ref: '#/components/schemas/SugestaoNova'
        - type: object
          required: [id, estado, dataCriacao, dataAtualizacao, dataResolucao]
          properties:
            id:
              type: integer
              minimum: 1
              readOnly: true
            estado:
              readOnly: true
              allOf:
                - $ref: '#/components/schemas/Estado'
            dataCriacao:
              type: string
              format: date-time
              readOnly: true
            dataAtualizacao:
              type: string
              format: date-time
              readOnly: true
            dataResolucao:
              type: string
              format: date-time
              nullable: true
              readOnly: true

    AcompanhamentoNovo:
      type: object
      required: [novoEstado, nota, responsavel]
      properties:
        novoEstado:
          $ref: '#/components/schemas/Estado'
        nota:
          type: string
          minLength: 5
          maxLength: 500
        responsavel:
          type: string
          minLength: 5
          maxLength: 60
          pattern: '^[A-Z][a-z]+ [A-Z][a-z]+$'

    Acompanhamento:
      allOf:
        - $ref: '#/components/schemas/AcompanhamentoNovo'
        - type: object
          required: [id, estadoAnterior, data]
          properties:
            id:
              type: integer
              minimum: 1
              readOnly: true
            estadoAnterior:
              readOnly: true
              allOf:
                - $ref: '#/components/schemas/Estado'
            data:
              type: string
              format: date-time
              readOnly: true

    ListaSugestoes:
      type: object
      required: [pagina, tamanhoPagina, total, itens]
      properties:
        pagina:
          type: integer
          minimum: 1
        tamanhoPagina:
          type: integer
          minimum: 1
          maximum: 50
        total:
          type: integer
          minimum: 0
        itens:
          type: array
          maxItems: 50
          items:
            $ref: '#/components/schemas/Sugestao'

    EstatisticasResolucao:
      type: object
      required: [anoLetivo, totalSugestoes, porEstado, taxaResolucao, tempoMedioResolucaoDias]
      properties:
        anoLetivo:
          type: string
          pattern: '^[0-9]{4}-[0-9]{4}$'
        totalSugestoes:
          type: integer
          minimum: 0
        porEstado:
          type: object
          required: [submetida, em_analise, aceite, rejeitada, resolvida]
          properties:
            submetida:
              type: integer
              minimum: 0
            em_analise:
              type: integer
              minimum: 0
            aceite:
              type: integer
              minimum: 0
            rejeitada:
              type: integer
              minimum: 0
            resolvida:
              type: integer
              minimum: 0
        taxaResolucao:
          type: number
          minimum: 0
          maximum: 1
        tempoMedioResolucaoDias:
          type: number
          minimum: 0
          nullable: true

    EstatisticasCategorias:
      type: object
      required: [anoLetivo, categorias]
      properties:
        anoLetivo:
          type: string
          pattern: '^[0-9]{4}-[0-9]{4}$'
        categorias:
          type: array
          minItems: 1
          maxItems: 5
          items:
            type: object
            required: [categoria, total, resolvidas, taxaResolucao]
            properties:
              categoria:
                $ref: '#/components/schemas/CodigoCategoria'
              total:
                type: integer
                minimum: 0
              resolvidas:
                type: integer
                minimum: 0
              taxaResolucao:
                type: number
                minimum: 0
                maximum: 1

    Erro:
      type: object
      required: [codigo, mensagem]
      properties:
        codigo:
          type: integer
          minimum: 400
          maximum: 599
        mensagem:
          type: string
          minLength: 1
          maxLength: 200
        detalhes:
          type: array
          items:
            type: object
            required: [campo, problema]
            properties:
              campo:
                type: string
              problema:
                type: string